* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  font-weight: 400;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}
main {
  position: relative;
  width: 100rem;
  height: 50rem;
  display: flex;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
}
.player {
  display: flex;
  flex: 50%;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
  transition: all 0.75s;
}

.name {
  font-size: 4rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.score {
  font-size: 8rem;
  color: #c7365f;
  margin-bottom: auto;
}
.current {
  background-color: #c7365f;
  padding: 2rem;
  width: 65%;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  color: #dddddd;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.current-score {
  font-size: 3.5rem;
}

.dice {
  position: absolute;
  height: 10rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  text-transform: uppercase;
  padding: 0.6rem 2.7rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444444;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.75s;
}

.new-game {
  top: 4rem;
}
.roll-dice {
  top: 33.5rem;
}
.hold {
  top: 38.5rem;
}

/* For script manipulation */

.hidden {
  display: none;
}

/* style for active player */

.player-active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player-active .name {
  font-weight: 700;
}
.player-active .current {
  opacity: 1;
}
.player-active .score {
  font-weight: 400;
}

/* when a player wins */

.player-winner {
  background-color: #2f2f2f;
}

.player-winner .name {
  font-weight: 700;
  color: #c7365f;
}
